/* src/styles/BetButton.css */

.bet-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D0D0D;
  }
  
  .bet-button {
    background-color: #00A878;
    color: black;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .bet-button:hover {
    background-color: #75D99F;
  }
  