.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0a192f; 
    justify-content: space-between;
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 10; 
    margin: 0 auto;
    overflow: hidden;
  }
  
  .navbar a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 8px;
    float: left;
  }

  .navbar a :hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;

  }
  .navbar-logo h1 {
    margin: 0;
    font-size: 24px;
    color: whitesmoke;
}
  
  .navbar-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-right h3{
    display: flex;
    gap: 10px;
    padding-right: 50px;
  }
  

  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      padding: 10px 20px;
    }
  
    .navbar-links {
      margin-top: 10px;
    }
  }