/* src/styles/SelectBets.css */

.select-bets-container {
    min-height: 100vh;
    background-color: #0D0D0D;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .select-bets-title {
    font-size: 28px;
    font-weight: bold;
    color: #00A878;
    margin-bottom: 10px;
  }
  
  .select-bets-text {
    font-size: 18px;
    color: #75D99F;
  }
  